<style>
        a {
    text-decoration: none; 
   }
   a:visited {
    color: #00aea5; 
   } 
   a:hover {
    color: #0b0945;  
    text-decoration: underline; 
   }
            .menu{
            background-color: rgb(246, 249, 205);
            color: rgb(34, 106, 42);
            margin: auto;
        }
        .menu ul{
            display: flex;
            margin: 20px;
        }
        .menu ul li{
            margin-right: 30px;
            list-style: none;
        }
        .main {
            color: rgb(190, 62, 88);
            margin-left: 10px;
            
        }
        .main li{
            margin-bottom: 5px;
           list-style: none;
        }
    </style>
